<h1 id="title">{{pageTitle}}</h1> <!--  Titulo -->
<p><!--  Pula linha -->
    <a id="create"  [routerLink]="['create']"> <!--  Ancora / Link -->
        Create New
    </a>
</p>
<table class="table" *ngIf='categories.length'> <!-- Escrever uma tabela -->
    <thead> <!--Cabecalho da tabela -->
        <tr> <!--  Linha da tabela -->
            <th>Name</th> <!--  Colunas do cabecalho da tabela -->
            <th>Actions</th>
        </tr>
    </thead>
    <tbody> <!--  Dados da tabela / body -->
        <tr *ngFor="let category of categories"> <!--  Linha -->
            <td>{{category.name}}</td> <!--  Coluna -->
            <td>
                <a [routerLink]="['edit', category.id]">
                    Edit |
                </a>
                <a [routerLink]="['detail', category.id]">
                    Detail |
                </a>
                <a [routerLink]="['delete', category.id]">
                    Delete |
                </a>
            </td>
        </tr>
    </tbody>
</table>