<h1>{{pageTitle}}</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form novalidate [formGroup]="formCreate" (ngSubmit)="create()">
            <div class="form-group">
                <label class="control-label" for="cmbCategory">Creditor</label>
                <select
                    class="form-control"
                    formControlName="creditorId"
                >
                    <option *ngFor="let creditor of creditors" value="{{creditor.id}}">
                        {{creditor.name}}                                
                    </option>                    
                </select>
            </div>
            <br>
            <div class="form-group">
                <input 
                    type="submit" 
                    id="Create" 
                    value="Create" 
                    class="btn btn-primary" 
                    [disabled] ="!formCreate.valid"/>
            </div>
        </form>        
    </div>
</div>
<div>
    <a [routerLink]="['/payable']">Back to List</a>    
</div>