<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand">Finance Manager</a>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        <ul class="navbar-nav flex-grow-1">
          <li class="nav-item">
            <a id="creditor" 
              class="nav-link text-dark"
              routerLink="creditor">Creditor</a>
          </li>        
          <li class="nav-item">
            <a 
              class="nav-link text-dark"
              routerLink="category">Category</a>
          </li>        
          <li class="nav-item">
            <a id="bankAccount" 
              class="nav-link text-dark"
              routerLink="">Bank Account</a>
          </li>        
          <li class="nav-item">
            <a id="payable"
              class="nav-link text-dark"
              routerLink="">Payable</a>
          </li>        
        </ul>      
      </div>
    </div>
  </nav>
</header>
<div class="container">
  <main role="main" class="pb-3">
    <router-outlet></router-outlet>    
  </main>
</div>